<html>
    <head>
        <title>HyunHo's Blog</title></title>
    </head>
    <body>
        <div>
            <h1><a href="">HyunHo's Blog</a></h1>
        </div>

        <div>
            <p>published: 2017.11.11, 05:20</p>
            <h2><a href="">My first post</a></h2>
            <p>서버 만든다고 몇날 며칠을 밤샜는지 모르겠다.. 죽을 것 같다.. A+받았으면..</p>
        </div>

        <div>
            <p>published: 2017.11.11, 05:25</p>
            <h2><a href="">My second post</a></h2>
            <p>이거 일기장처럼 써도 되려나.. 아니면 여기다가 유언장을 써놓을까..</p>
        </div>
    </body>
</html>
